/* Very basic browser*/

* {
	margin:0;
	padding: 0;
}

#left-header {
height:120px;
background-color: green;
width:30%;
}

#right-header{
	height: 120px;
	position: absolute;
	background-color: blue;
	left:30%;
	top:0px;
	width:70%;
}


#left-coloumn{
width: 33.333%;
height:400px;
background-color: yellow;
}

#centre-coloumn{
	width:33.333%;
	height: 400px;
	background-color: gold;
	position: absolute;
	top:120px;
	left:33.333%;
}

#right-coloumn{

	width:33.333%;
	height:400px;
	background-color: orange;
	position: absolute;
	top:120px;
	left:66.666%;

}

#left-footer{
	height:120px;
	background-color: black;
	width:50%;
}

#right-footer{
	width:50%;
	height:120px;
	background-color: grey;
	position:absolute;
	top:520px;
	left:50%;
}
