
nav
{
	width: 100%;
	color: white;
	font-size: 17px;

}

 .navbar
 {
    padding: 10px;
    background-color: red;
 }

a{
	text-align: center;
}


img{

	max-width: 100%;
	height: auto;
}




.view_deals
{
	width: 100%;
	color: white;
	background-color: red;
	font-size: 17px;
	padding: 10px;
}

ul li{
	list-style: none;
}


.grid-container {
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
	grid-template-areas:
	"logo navigation navigation tel"
	"mainBanner mainBanner mainBanner mainBanner"
	"Section1 Section2 Section3 Section4"
	"ViewDeals ViewDeals ViewDeals ViewDeals"
	"Video Video Map Map"
	"copyright copyright socialmedia socialmedia";
}

#logo{
	grid-column-start: 'logo';
}

.navbar{
	grid-column-start: 'navigation';
	grid-column-end: span 2;
	width:auto;
}

.tel{
		grid-column-start: 'tel';


}

#mainBanner{
	grid-column-start: 'mainBanner';
	grid-column-end: span 4;


}

#deals{
	grid-column-start: 'Section1';
	grid-column-end:span 4;


}


#Section1{
	grid-column-start: 'Section1';
}

#Section2{
	grid-column-start: 'Section2';
}

#Section3{
	grid-column-start: 'Section3';
}

#Section4{
	grid-column-start: 'Section4';
}

#Video{
		grid-column-start: 'Video';
		grid-column-end: span 2;
		width:auto;

}

#Map{
	grid-column-start: 'Map';
		grid-column-end: span 2;
}

.copyright{
	grid-column-start: 'copyright';
	grid-column-end: span 2;
}

.socialmedia{
			grid-column-start: 'socialmedia';
			grid-column-end: span 2;
}







